<% if current_user.blank? %>
	<div class="place_middle">
	  <%= image_tag("sign_in.png", alt: "Edit Entry") %>
	  <%= link_to 'Sign In with Github', '/auth/github'%>
	</div>
<% else %>
	<div class="jumbotron place_middle" >
	  <p> You are signed in as <strong><i><%= current_user.username %></i></strong>.  </p>
	   <p> Click <i><%= link_to "here", repository_path(current_user.username) %> </i>to go your repositories.</p>
	</div>
<% end %>