// Place all the styles related to the repository controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.setMargin{
	margin-top: 5px;
}

.set_header{
	text-align: center;
	color: orangered;
	font-size: 20px;
	font-weight: bold;
}

.repo-blocks{
	background-color: #eff0f1;
    padding: 5px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    margin-bottom: 5px;
}

.inner-block{
	background-color: lightgrey;
    text-align: left;
    padding-left: 10px;
    margin-top: 5px;
    padding-bottom: 1px;
}

.set_title{
	font-weight: bold;
    font-size: 14px;
}